<div
  class="grid md:grid-cols-3 gap-10 md:pr-[20rem] pr-9 md:h-[775px] h-[600px] overflow-y-scroll overscroll-contain"
>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arffdfgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/rgrergi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/aivnmkcmgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arbuikekmi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfg4gfvergi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgbrfwergi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgbvc4rrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgrgdcvxi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arnbvcedgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgmnbvcrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgnbvcrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgnbvcrdcrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgrfeefcgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/ayhbgrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
  <div class="flex items-center justify-start">
    <div
      class="md:w-[120px] w-[80px] md:h-[120px] h-[80px] rounded-full border-2"
    >
      <img src="https://robohash.org/arfgrdAZrgi?set=set3" alt="" />
    </div>
    <div class="md:px-4 px-2">
      <h2 class="md:text-[20px] text-[17px] font-[600] text-[#000000]">
        Peter Gregory
      </h2>
      <p
        class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:w-[175px] w-[130px] md:h-[54px] h-[30px]"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
      </p>
    </div>
  </div>
</div>
