<div class="w-full min-h-screen flex overflow-hidden">
  <div
    class="section1 hidden min-h-full w-[30%] sm:flex flex-col justify-center items-center"
  >
    <img class="md:max-h-12" src="../../assets/icons/signin.svg" alt="" />
    <h2 class="md:text-[35px] text-[25px] font-[900] font-Inter text-[#002D8B]">
      You<span class="text-[#0394D5]">Fix</span>
    </h2>
    <p
      class="text-[16px] md:text-[13px] font-[400] text-center md:w-[200px] w-[350px] h-[102px]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam diam, dui in
      mattis egestas dictum. Fermentum hendrerit eu aenean est odio massa sed.
    </p>
  </div>
  <div
    class="flex flex-col max-h-full w-full sm:w-[70%] items-center justify-center"
  >
    <div class="md:mx-10 md:w-[90%] md:ml-[15rem] ml-0 w-full sm:mx-0 h-[98%]">
      <div class="flex items-center ml-[30%]">
        <p class="md:text-[15px] text-[10px] font-[600] font-Inter">
          Dont have an account?
        </p>
        <button
          routerLink="/signup"
          class="text-[10px] md:text-[14px] font-Inter text-[#002D8B] cursor-pointer font-[700] rounded-[10px] border-2 border-[#002D8B] ml-11 px-10 py-3"
        >
          Sign up
        </button>
      </div>
      <h2
        class="text-[45px] md:hidden block md:text-[35px] ml-[8rem] mt-[50px] font-[900] font-Inter text-[#002D8B]"
      >
        You<span class="text-[#0394D5]">Fix</span>
      </h2>
      <div class="sm:mt-[130px] md:mt-[230px] md:ml-0 ml-[30px] mt-[40px]">
        <h2
          class="sm:text-[20px] md:text-[18px] text-[16px] font-[600] text-[#828282]"
        >
          Home / <span class="text-[#002D8B]">Sign in</span>
        </h2>
        <h2
          class="sm:text-[32px] md:text-[29px] text-[27px] font-[600] mt-[30px]"
        >
          Sign in
        </h2>
      </div>
      <div class="mt-[40px] md:ml-0 ml-[30px]">
        <form class="flex flex-col" [formGroup]="form" (ngSubmit)="logIn()">
          <label class="text-[#828282] text-[14px] font-[700] mb-[8px]"
            >E-MAIL</label
          >
          <input
            class="md:w-[60%] w-[22rem] py-5 pl-[10px] md:text-[13px] text-[10px] outline-none font-[500] mb-[25px] bg-[#FBFBFB] border-2 border-rgba(0, 0, 0, 0.1) rounded-[8px]"
            type="email"
            formControlName="email"
            placeholder="Enter your email"
          />
          <div
            *ngIf="
              form.get('email')?.invalid &&
              (form.get('email')?.dirty || form.get('email')?.touched)
            "
          >
            <div
              *ngIf="form.get('email')?.errors?.['required']"
              class="text-red-500 py-3 text-sm mb-3"
            >
              Email is required.
            </div>
            <div
              *ngIf="form.get('email')?.errors?.['email']"
              class="text-red-500 py-3 text-sm mb-3"
            >
              Invalid email format.
            </div>
          </div>

          <label class="text-[#828282] text-[14px] font-[700] mb-[8px]"
            >PASSWORD</label
          >
          <input
            class="md:w-[60%] w-[22rem] py-5 pl-[10px] md:text-[13px] text-[10px] font-[400] outline-none mb-[5px] bg-[#FBFBFB] border-2 border-rgba(0, 0, 0, 0.1) rounded-[10px]"
            type="password"
            formControlName="password"
            placeholder="Enter your password"
          />
          <div
            *ngIf="
              form.get('password')?.invalid &&
              (form.get('password')?.dirty || form.get('password')?.touched)
            "
          >
            <div
              *ngIf="form.get('password')?.errors?.['required']"
              class="text-red-500 py-3 text-sm mb-3"
            >
              Password is required.
            </div>
          </div>

          <p class="text-[#828282] text-[12px] font-[600] mb-[20px]">
            Forgot your password?
            <span class="text-[#0394D5]">Click here.</span>
          </p>
          <button
            type="submit"
            class="md:w-[60%] w-[22rem] md:text-[13px] py-5 pl-[10px] text-white text-[15px] font-[600] sm:mt-[25px] mt-[30px] bg-[#002d8b] border border-rgba(0, 0, 0, 0.1) rounded-[10px]"
          >
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
