<div
  class="w-full md:h-[87px] h-[75px] flex justify-between md:px-[10rem] sm:px-10 px-2 py-6 border-b drop-shadow-lg items-center"
>
  <h2
    class="sm:text-[30px] text-[20px] md:text-[35px] font-[900] font-Inter text-[#002D8B]"
  >
    You<span class="text-[#0394D5]">Fix</span>
  </h2>
  <div class="flex justify-evenly items-center">
    <div class="flex items-center justify-center md:px-1">
      <img
        class="md:px-2 md:max-h-12 max-h-8 cursor-pointer"
        src="../../assets/icons/notification.svg"
        alt=""
      />
      <img
        class="md:px-3 px-2 md:max-h-12 max-h-8 cursor-pointer"
        src="../../assets/icons/messages.svg"
        alt=""
      />
    </div>
    <div
      routerLink="/dashboard"
      class="md:w-[63px] md:h-[63px] w-[40px] h-[40px] rounded-full border"
    >
      <img
        class="object-cover"
        src="https://robohash.org/{{ username }}?set=set3"
        alt=""
      />
      <p>{{ username }}</p>
    </div>
    <div *ngIf="isDashboard()" class="px-2">
      <img
        (click)="showDropdown = !showDropdown"
        class="cursor-pointer md:max-h-9 max-h-3"
        src="../../assets/icons/dropdown.svg"
        alt=""
      />
    </div>
  </div>
</div>
<div [hidden]="!showDropdown">
  <div
    class="md:w-[145px] w-[90px] md:ml-[137rem] ml-[20rem] md:h-[95px] h-[50px] border bg-[#E6E6F1] flex flex-col justify-center items-center rounded-md absolute"
  >
    <div>
      <h2
        (click)="openModal()"
        class="font-[600] md:text-[16px] text-[10px] cursor-pointer text-[#002D8B]"
      >
        Edit Profile
      </h2>
      <h2
        (click)="logout()"
        class="font-[600] md:text-[16px] cursor-pointer text-[10px] text-[#002D8B]"
      >
        Log out
      </h2>
    </div>
  </div>
</div>

<div
  *ngIf="isModalOpen"
  class="w-full h-screen bg-[#00000080] absolute top-0 flex items-center justify-center z-10"
>
  <div
    class="md:w-[710px] w-[360px] md:h-[846px] h-[570px] bg-[#ffffff] rounded-[10px]"
  >
    <div
      class="flex justify-between items-center p-5 border-b md:h-[50px] h-[40px]"
    >
      <h2 class="md:text-[25px] text-[15px] font-[600]">Create new Question</h2>
      <img
        class="md:max-h-6 max-h-3 cursor-pointer"
        (click)="closeModal()"
        src="../../assets/icons/exit.svg"
        alt=""
      />
    </div>
    <div class="flex items-center justify-center md:mt-14">
      <form class="flex flex-col">
        <label
          class="text-[#000000] md:text-[25px] text-[18px] font-[600] md:mb-[8px]"
          >User-name</label
        >
        <input
          [(ngModel)]="inputValue"
          (input)="checkInput()"
          class="md:w-[575px] w-[300px] md:h-[70px] h-[50px] py-5 pl-[10px] md:text-[13px] text-[9px] outline-none font-[500] md:mb-[25px] mb-[18px] bg-[#FBFBFB] border-2 border-rgba(0, 0, 0, 0.1) md:rounded-[10px] rounded-[8px]"
          type="text"
          placeholder="Enter your username...."
        />
        <label
          class="text-[#000000] md:text-[25px] text-[18px] font-[600] md:mb-[8px]"
          >Email</label
        >
        <input
          [(ngModel)]="inputValue"
          (input)="checkInput()"
          class="md:w-[575px] w-[300px] md:h-[70px] h-[50px] py-5 pl-[10px] md:text-[13px] text-[9px] outline-none font-[500] md:mb-[25px] mb-[18px] bg-[#FBFBFB] border-2 border-rgba(0, 0, 0, 0.1) md:rounded-[10px] rounded-[8px]"
          type="text"
          placeholder="Enter your email....."
        />
        <label
          class="text-[#000000] md:text-[25px] text-[18px] font-[600] md:mb-[8px]"
          >Title</label
        >
        <input
          [(ngModel)]="inputValue"
          (input)="checkInput()"
          class="md:w-[575px] w-[300px] md:h-[70px] h-[50px] py-5 pl-[10px] md:text-[13px] text-[9px] outline-none font-[500] md:mb-[25px] mb-[18px] bg-[#FBFBFB] border-2 border-rgba(0, 0, 0, 0.1) md:rounded-[10px] rounded-[8px]"
          type="text"
          placeholder="Enter your title....."
        />

        <label
          class="text-[#000000] md:text-[25px] text-[18px] font-[600] md:mb-[8px]"
          >About</label
        >
        <textarea
          [(ngModel)]="inputValue"
          (input)="checkInput()"
          class="md:w-[575px] w-[300px] md:h-[130px] h-[100px] py-5 pl-[10px] md:text-[13px] text-[9px] outline-none font-[500] md:mb-[25px] mb-[18px] bg-[#FBFBFB] border-2 border-rgba(0, 0, 0, 0.1) md:rounded-[10px] rounded-[8px]"
          type="text"
          placeholder="Enter your about....."
        ></textarea>

        <button
          [disabled]="isDisabled"
          class="md:w-[575px] w-[300px] md:h-[70px] h-[50px] md:py-5 pl-[10px] text-white md:text-[18px] text-[14px] font-[600] sm:mt-[25px] md:mt-[30px] mt-[20px] bg-[#002d8b] rounded-[10px]"
        >
          Share
        </button>
      </form>
    </div>
  </div>
</div>
