<div
  class="w-full md:h-[87px] h-[75px] flex justify-between md:px-[10rem] sm:px-10 px-2 py-6 border-b drop-shadow-lg items-center"
>
  <h2
    class="sm:text-[30px] text-[20px] md:text-[35px] font-[900] font-Inter text-[#002D8B]"
  >
    You<span class="text-[#0394D5]">Fix</span>
  </h2>
  <div class="flex justify-evenly items-center">
    <div class="flex items-center justify-center md:px-1">
      <img
        class="md:px-2 md:max-h-12 max-h-8 cursor-pointer"
        src="../../assets/icons/notification.svg"
        alt=""
      />
      <img
        class="md:px-3 px-2 md:max-h-12 max-h-8 cursor-pointer"
        src="../../assets/icons/messages.svg"
        alt=""
      />
    </div>
    <div
      routerLink="/dashboard"
      class="md:w-[63px] md:h-[63px] w-[40px] h-[40px] rounded-full border"
    >
      <img
        class="object-cover"
        src="https://robohash.org/alfgrgi?set=set3"
        alt=""
      />
    </div>
    <div (click)="showDropdown = !showDropdown" class="px-2">
      <img
        class="cursor-pointer md:max-h-9 max-h-3"
        src="../../assets/icons/dropdown.svg"
        alt=""
      />
    </div>
  </div>
</div>
<div
  [hidden]="!showDropdown"
  class="md:w-[145px] w-[90px] md:ml-[137rem] ml-[20rem] md:h-[95px] h-[50px] border bg-[#E6E6F1] flex flex-col justify-center items-center rounded-md"
>
  <div>
    <h2 class="font-[600] md:text-[16px] text-[10px] text-[#002D8B]">
      Edit Profile
    </h2>
    <h2 class="font-[600] md:text-[16px] text-[10px] text-[#002D8B]">
      Log out
    </h2>
  </div>
</div>
