<div
  class="w-[996px] h-[297px] bg-[#F7FAFF] rounded-[10px] drop-shadow-lg flex flex-col justify-center items-start p-12"
>
  <div class="flex items-center justify-center">
    <div class="w-[51px] h-[51px] rounded-full border-2 border-[#000000]">
      <img
        class="object-cover"
        src="https://robohash.org/aingi?set=set3"
        alt=""
      />
    </div>
    <div class="px-3">
      <h2 class="font-[400] text-[13px] text-[#191919]">Mary Kimani</h2>
      <p class="text-[12px] font-[500] text-[#3F3F3F]">6h ago</p>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <h2 class="text-[22px] font-[600] text-[#111111] pr-4 py-5">
      What is the use of forEach in javascript?
    </h2>
    <div
      class="w-[100px] h-[25px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="text-[12px] font-[400] text-[#000000]">JavaScript</p>
    </div>
  </div>
  <div>
    <p class="text-[14px] font-[300] text-[#000000]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and your interactions click
      on view. Here is some brief description about this Project. To view the
      project brief and ...
    </p>
  </div>
  <div
    class="w-[171px] h-[45px] bg-[#F7FAFF] rounded-[4px] border border-[#808080] flex justify-center items-center mt-7"
  >
    <img class="max-h-6" src="../../assets/icons/add-response.svg" alt="" />
    <h2 class="text-[13px] font-[600] text-[#808080] px-2">Add response</h2>
  </div>
</div>
