<div
  class="w-[270px] h-[858px] bg-[#E6E6F1] rounded-[15px] items-start justify-start flex flex-col pt-10 pl-14"
>
  <div class="flex items-center justify-center my-5">
    <img class="max-h-6" src="../../assets/icons/home-icon.svg" alt="" />
    <h2 class="text-[20px] font-[500] text-[#111111] opacity-[0.5] px-6">
      Home
    </h2>
  </div>
  <div class="flex items-center justify-center my-5">
    <img class="max-h-5" src="../../assets/icons/questions-icon.svg" alt="" />
    <h2 class="text-[20px] font-[500] text-[#111111] opacity-[0.5] px-6">
      Questions
    </h2>
  </div>
  <div class="flex items-center justify-center my-5">
    <img class="max-h-6" src="../../assets/icons/tags-icon.svg" alt="" />
    <h2 class="text-[20px] font-[500] text-[#111111] opacity-[0.5] px-6">
      Tags
    </h2>
  </div>
  <div class="flex items-center justify-center my-5">
    <img class="max-h-6" src="../../assets/icons/users-icon.svg" alt="" />
    <h2 class="text-[20px] font-[500] text-[#111111] opacity-[0.5] px-6">
      Users
    </h2>
  </div>
</div>
