<div
  class="grid md:grid-cols-2 grid-cols-1 gap-10 md:pr-[20rem] pr-9 md:h-[775px] h-[600px] overflow-y-scroll overscroll-contain"
>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
  <div
    class="md:w-[399px] w-[300px] md:h-[207px] h-[150px] rounded-[10px] bg-[#F7FAFF] md:p-10 p-5"
  >
    <div
      class="md:w-[100px] w-[60px] md:h-[25px] h-[18px] bg-[#7FD7FE] rounded-[15px] flex justify-center items-center"
    >
      <p class="md:text-[12px] text-[7px] font-[400] text-[#000000]">
        JavaScript
      </p>
    </div>
    <p class="font-[300] pt-5 md:text-[14px] text-[10px]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project. To view the project brief and ...
    </p>
  </div>
</div>
