<div
  class="md:w-[771px] w-[180px] h-[150px] bg-[#F7FAFF] rounded-[10px] drop-shadow-lg flex flex-col justify-center items-start md:p-12 p-2"
>
  <div class="flex items-center justify-center">
    <div
      class="md:w-[40px] w-[20px] md:h-[40px] h-[20px] rounded-full border-2"
    >
      <img
        class="object-cover"
        src="https://robohash.org/alfgrgi?set=set3"
        alt=""
      />
    </div>
    <div class="px-3">
      <h2 class="font-[600] md:text-[12px] text-[8px] text-[#191919]">
        Peter Gregory
      </h2>
      <p class="md:text-[8px] text-[6px] font-[500] text-[#3F3F3F]">
        2 days ago
      </p>
    </div>
  </div>
  <div>
    <p class="md:text-[12px] text-[8px] font-[300] text-[#000000] md:pl-[4rem]">
      Here is some brief description about this Project. To view the project
      brief and your interactions click on view. Here is some brief description
      about this Project.
    </p>
  </div>
</div>
