<div class="w-full relative">
  <div><app-navbar></app-navbar></div>
  <div class="flex">
    <div class="md:mt-10 mt-4 md:ml-[8rem] ml-4">
      <div
        class="md:w-[270px] w-[50px] md:h-[858px] h-[685px] bg-[#E6E6F1] rounded-[15px] md:items-start items-center justify-start flex flex-col md:pt-10 pt-3 md:pl-14"
      >
        <div class="flex items-center justify-center md:mt-6 mt-3">
          <div
            class="md:w-[50px] w-[30px] md:h-[50px] h-[30px] rounded-full border-2 border-[#fff]"
          >
            <img
              class="object-cover"
              src="https://robohash.org/algi?set=set3"
              alt=""
            />
          </div>
          <div class="px-3 hidden md:block">
            <h2 class="font-[600] md:text-[12px] text-[8px] text-[#191919]">
              Peter Gregory
            </h2>
            <p class="md:text-[8px] text-[6px] font-[500] text-[#3F3F3F]">
              Software Developer
            </p>
          </div>
        </div>
        <div
          routerLink="/admin/adminquestions"
          routerLinkActive="bg-[#D9D9D9] py-3 rounded-md md:border-r-8 border-r-4 border-[#002D8B]"
          class="flex items-center justify-center w-full my-5 md:pr-4"
        >
          <img
            class="max-h-5"
            src="../../assets/icons/questions-icon.svg"
            alt=""
          />
          <h2
            class="text-[20px] font-[500] text-[#111111] opacity-[0.5] hidden md:block md:px-6 cursor-pointer"
          >
            Questions
          </h2>
        </div>
        <div
          class="flex items-center justify-center w-full my-5 md:pr-16"
          routerLink="/admin/adminusers"
          routerLinkActive="bg-[#D9D9D9] py-3 rounded-md md:border-r-8 border-r-4 border-[#002D8B]"
        >
          <img class="max-h-6" src="../../assets/icons/users-icon.svg" alt="" />
          <h2
            class="text-[20px] font-[500] text-[#111111] opacity-[0.5] hidden md:block px-6 cursor-pointer"
          >
            <a>Users</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="md:ml-16 ml-8 md:mt-10 mt-4">
      <div class="flex">
        <input
          class="md:w-[644px] w-[190px] md:h-[50px] h-[35px] outline-none mb-12 rounded-[10px] border-[rgba(96, 124, 183, 0.5)] border-2 px-4 md:text-[13px] text-[13px] font-[600] text-[rgba(17, 17, 17, 0.4)]"
          placeholder="Search..."
          type="text"
        />
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
